<footer class="footer">
	<div>
		Brought to you by the maker of:
		<p class="logos">
			<a href="https://github.com/jpsca/jx" target="_blank" rel="noopener">
				<img src="/assets/images/logo-jx.svg" alt="Jx" height="34">
			</a>
			<span aria-hidden="true">·</span>
			<a href="https://formidable.scaletti.dev/" target="_blank" rel="noopener">
				<img src="/assets/images/logo-formidable.svg" alt="Formidable" height="38">
			</a>
		</p>
		<p class="license">Released under the MIT License.</p>
		<p class="copy">© 2025 <a href="https://jpscaletti.com/" target="_blank" rel="noopener">Juan-Pablo Scaletti</a></p>
		<p class="madewith">Made with <a href="https://writeadoc.scaletti.dev/" target="_blank" rel="noopener">WriteADoc</a> (of course!)</p>
	</div>
</footer>