{# import "./layout.jinja" as Layout #}
{# css "/assets/css/index.css" #}

<Layout>
  {% fill hero %}
  <div class="headline">
    <header>
      <h1>Painless documentation</h1>
      <p>Create a professional static site for your project in minutes. Searchable, fast, and infinitely customizable.</p>
    </header>
  </div>
  {% endfill %}

  <div class="page page--docs">
    <div class="page__content">
      <article>{{ page.content }}</article>
    </div>
  </div>
</Layout>
