.headline {
  padding: 1rem;
}

.headline header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 60rem;
  margin: 0 auto;
  font-weight: 500;
}

.headline header h1 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

@media (min-width: 64em) {
  .page-index .headline {
    padding: 4rem;
  }
  .page-index .headline header h1 {
    font-size: 3rem;
  }
}


.footer {
  display: flex;
  padding: 4rem 2rem;
  border-top: 1px solid var(--color-base-darker);
  width: 100%;
  background: var(--color-base);
}

.footer div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 2rem;
  font-size: 0.9rem;
  letter-spacing: -0.01em;
  color: var(--color-grey-light);
  max-width: 100%;
}

.footer div p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.footer .copy {
  display: inline-block;
  padding-right: 2rem;
  border-right: 1px solid var(--color-base-darkest);
}