.page-index {
  .btn {
    font-size: 0.8em;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
  }

  .page__content {
    text-align: center;
    max-width: 90rem;
    margin-left: auto;
    margin-right: auto;
  }

  .headline {
    padding: 1rem;
    font-size: 1.3rem;
    line-height: 1.4;
  }
  .headline header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 60rem;
    margin: 0 auto;
    font-weight: 500;
  }
  .headline header h1 {
    font-size: 2.6rem;
    font-weight: 900;
    text-align: center;
    line-height: 1.1;
  }
  .headline header p {
    transform: skew(-4deg);
  }
  .headline header p span {
    background-color: var(--color-base-darker);
    padding: 0.1em;
  }

  .headline__actions {
    margin-top: 0.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 64rem) {
    .headline {
      padding: 4rem;
      font-size: 1.6rem;
    }
    .headline header h1 {
      font-size: 3.8rem;

    }
  }

  .grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: var(--space-medium) calc(-1 * var(--space-small));
  }
  .grid > article {
    width: 100%;
    margin-bottom: var(--space-small);
    padding: var(--space-small);
  }
  .grid > article > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 0 1px rgba(var(--rgb-gray), 0.1);
    border-radius: 1em;
    padding: 1rem;
    background: rgba(var(--rgb-gray), 0.02);
    height: 100%;
    width: 100%;
    transition: all var(--transition);
    line-height: 1.4;
    text-align: left;
  }
  .grid > article:hover > div {
    box-shadow: 0 0 0 1px rgba(var(--rgb-gray), 0.3);
  }
  .grid > article > div > div {
    padding: 0 1em 0;
  }
  .grid > article > div h3 {
    font-size: var(--font-size-x-large);
    font-weight: 600;
  }
  .grid > article > div img {
    flex: 0 0 5em;
    place-self: center;
    filter: saturate(0.8);
    transition: all var(--transition);
    max-width: 100px;
  }
  .grid > article:hover > div img {
    filter: saturate(1);
  }
  .grid h3 {
    margin-bottom: 1em;
  }
  .grid p {
    margin-bottom: 0.5em;
    font-weight: 300;
    font-size: 90%;
  }

  @media (min-width: 80rem) {
    .grid {
      flex-direction: row;
    }
    .grid > article {
      width: 50%;
    }
    .grid > article:nth-child(1) {
      width: 55%;
    }
    .grid > article:nth-child(2) {
      width: 45%;
    }
    .grid > article:nth-child(5) {
      margin-left: auto;
      margin-right: auto;
    }
  }


  .footer {
    display: flex;
    padding: 4rem 2rem;
    border-top: 1px solid var(--color-base-darker);
    width: 100%;
    background: var(--color-base);
  }

  .footer div {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    font-size: 1rem;
    letter-spacing: -0.01em;
    color: var(--color-gray-light);
    max-width: 100%;
  }
  @media (min-width: 64rem) {
    .footer div {
      font-size: 1.2rem;
    }
  }

  .footer .logos {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  .footer .logos a {
    color: var(--color-gray);
  }

  @media (prefers-color-scheme: dark) {
    html:not(.cs-light) .footer img  {
      filter: invert(100%);
    }
  }

  .footer div p {
    padding: 0
  }
}