:root {
  --header-height: 4.5rem;
  --sidebar-width: 18rem;
}
@media (min-width: 64rem) {
  :root {
    --sidebar-width: 18rem;
  }
}
@media (min-width: 72rem) {
  :root {
    --sidebar-width: 20rem;
  }
}
@media (min-width: 96rem) {
  :root {
    --sidebar-width: 24rem;
  }
}


.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  padding: 0 1.5rem;
}
@media (min-width: 64rem) {
  .wrapper {
    padding: 0 2rem;
  }
}

.header {
  position: relative;
  white-space: nowrap;
  border-bottom: 1px solid var(--color-base-darker);
  background: var(--color-base);
}
.header .wrapper {
  display: flex;
  align-items: center;
  height: var(--header-height);
  margin-left: 0;
}
@media (min-width: 64rem) {
  .header .wrapper {
    margin-left: var(--sidebar-width);
  }
}

.header .wrapper,
.header__brand,
.header__links {
  gap: 2rem;
}

.header button {
  appearance: none;
  background: transparent;
  color: inherit;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  transition: color var(--transition);
  font-weight: 700;
  cursor: pointer;
  padding: 0;
}
.header svg {
  width: 1em;
  height: 1em;
  stroke-width: 2px;
}
.header button svg {
  fill: currentColor;
}

.header__brand {
  display: flex;
  align-items: center;
  padding: 0;
  background: var(--color-base);
  height: var(--header-height);
  width: auto;
}
@media (min-width: 64rem) {
  .header__brand {
    border-right: 1px solid var(--color-base-darker);
    border-bottom: 1px solid var(--color-base-darker);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    padding-left: 2rem;
  }
}

.header__links {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
}
.header__links a {
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: .04em;
  color: inherit;
  transition: color var(--transition);
}
.header__links a:is(:focus,:hover),
.header button:is(:focus,:hover) {
  color: var(--color-accent);
}

.color-scheme button svg {
  width: 1.3em;
  height: 1.3em;
}
.color-scheme button.dark,
.color-scheme button.light,
html.cs-dark .color-scheme button.system,
html.cs-light .color-scheme button.system {
  display: none;
}
html.cs-dark .color-scheme button.dark,
html.cs-light .color-scheme button.light {
  display: block;
}

/******* MAIN  *******/

.main {
  display: flex;
  min-height: calc(100vh - var(--header-height));
}

/******* SIDEBAR  *******/

.sidebar {
  margin-left: calc(-1 * var(--sidebar-width));
  transition: margin-left var(--transition);
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  position: fixed;
  top: var(--header-height);
  left: 0;
  width: var(--sidebar-width);
  height: calc(100vh - var(--header-height));
  background: var(--color-white);
  border-right: 1px solid var(--color-base-darker);
}

@media (min-width: 64rem) {
  .sidebar {
    margin-left: 0;
  }
}

.sidebar > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: thin;
  padding: 1rem 1em 2rem 2rem;
  font-size: 1em;
}

.sidebar form.search {
  margin: 0 0 1.4em 0;
}

.toc {
  letter-spacing: -0.01em;
  padding: 0;
  margin: 0;
  line-height: 1.3;
  user-select: none;
}

.toc img,
.toc svg {
  display: inline-block;
  max-width: 1em;
  max-height: 90%;
  stroke: currentColor;
  margin-right: 0.5em;
  flex-grow: 0;
  flex-shrink: 0;
}

.toc a {
  position: relative;
  text-decoration: none;
}

.toc__section {
  margin: 0 0.5rem 1em 0.8rem;
  padding: 0;
}

.toc__section > summary {
  display: flex;
  color: var(--color-grey-lighter);
  position: relative;
  margin-left: -0.8rem;
}
.toc__section > summary::after {
  background-color: currentcolor;
  border-radius: 100%;
  content: "";
  display: inline-block;
  mask-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M8.59 16.58 13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42Z"/></svg>');
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: transform .25s;
  vertical-align: -.1rem;
  position: absolute;
  top: 0;
  right: 0.5rem;
  width: 1.2em;
  height: 100%;
}
.toc__section[open] > summary::after {
  transform: rotate(90deg);
}

.toc__section > div {
  border: 1px solid rgba(var(--rgb-base-darkest), 0.3);
}

.toc__page {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  border-left: 3px solid transparent;
  background: none;
  color: var(--color-grey-light);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  transition: all var(--transition);
}
.toc__page:hover {
  background: var(--color-base-dark);
  padding-left: 0.9rem;
}
.toc__page--selected {
  border-radius: 0 0.3em 0.3em 0;
  border-left-color: var(--color-accent);
  color: var(--color-grey);
  font-weight: 700;
}

@media (hover: hover) {
  .toc__page[href]:is(:focus,:hover) {
    color: var(--color-grey-light);
  }
  .toc__page[href]:is(:focus,:hover) {
    color: var(--color-grey);
    background: var(--color-base-dark);
  }
}

/******* PAGE  *******/

.page {
  width: 100%;
  transition: margin var(--transition);
}
@media (min-width: 64rem) {
  .page {
    margin-left: var(--sidebar-width);
  }
}

.page__wrapper {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  padding: 2rem;
  width: 100%;
  transition: padding var(--transition);
}

.page__content {
  font-size: 1.1rem;
  width: 100%;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

/******* PAGETOC *******/

.pagetoc {
  display: none;
  width: 16rem;
  padding: 0 .6rem;
  line-height: 1;
}
.pagetoc > div {
  position: sticky;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: sticky;
  top: calc(var(--header-height) + 2rem + 2px);
  max-height: calc(100vh - var(--header-height) - 2rem - 2px);
  scrollbar-width: thin;
  font-size: 0.9rem;
}
.pagetoc h4 {
  font-size: inherit;
  font-weight: 400;
  color: var(--color-grey-lighter);
  border-bottom: 1px solid var(--color-base-darkest);
  letter-spacing: -0.01em;
  margin: 0 0 1rem 0;
  padding: 0.5rem 0;
}
.pagetoc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagetoc ul ul {
  padding-left: 1rem;
  border-left: 1px solid var(--color-base-darkest);
}
.pagetoc li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagetoc a {
  display: block;
  font-size: inherit;
  line-height: 1.3;
  color: var(--color-grey);
  font-weight: 400;
  text-decoration: none;
  padding: 0.5em;
  margin: 0 -0.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (hover: hover) {
  .pagetoc a:is(:focus,:hover) {
    color: var(--color-accent);
  }
}

.pagetoc--select {
  display: block;
  box-shadow: 0 0 0 1px rgba(var(--rgb-grey), 0.1);
  width: 100%;
  font-size: var(--font-size-x-small);
  letter-spacing: -0.01em;
  padding: 0.8em 0.5em;
  border: none;
  border-right: 0.5em solid transparent;
  border-radius: 0.4rem;
  background: var(--color-base);
  color: var(--color-grey-light);
  cursor: pointer;
}

@media (min-width: 96rem) {
  .pagetoc {
    display: block;
  }
  .pagetoc--select {
    display: none;
  }
}

/******* PAGE_NAV *******/

.page__nav {
  display: flex;
  gap: 1.2em;
  margin: 4rem 0 2rem;
  padding: 2rem 0 1rem;
}

.page__nav a {
  background: var(--color-white);
  border-radius: 0.4rem;
  outline: 1px solid rgba(var(--rgb-grey-light), 0.5);
  flex: 1;
  padding: 1em 1.2em 0.8em 1.2em;
  text-decoration: none;
  transition: all var(--transition);
  max-width: 50%;
}
.page__nav a:hover {
  outline-color: rgba(var(--rgb-accent), 0.8);
  box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.09),
              0 10px 30px -15px rgba(var(--rgb-black), 0.18),
              0 20px 20px -30px rgba(var(--rgb-black), 0.18);
}

.page__nav a.next {
  margin-left: auto;
}

.page__nav a dl {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
}

.page__nav a dl dt {
  color: var(--color-grey-lighter);
  font-size: 0.9em;
  letter-spacing: normal;
  text-transform: uppercase;
}

.page__nav a dl dd {
  color: var(--color-grey);
  font-size: 0.9em;
}

.page__nav a.next {
  text-align: right;
}

/******* FOOTER  *******/

.footer {
  display: flex;
  padding: var(--space-large) var(--space-medium);
  border-top: 1px solid var(--color-base-darker);
}

.footer div {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-medium);
  font-size: var(--font-size-xx-small);
  letter-spacing: -0.01em;
  color: var(--color-grey-light);
}

.footer div p {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-medium);
}

.footer .copy {
  display: inline-block;
  padding-right: var(--space-medium);
  border-right: 1px solid var(--color-base-darkest);
}

/******* BANNER  *******/

.banner {
  background-color: var(--color-base-darkest);
  overflow: auto;
  padding: var(--space-small) 0;
}
.banner--warning {
  background-color: rgb(255, 255, 174);
  color: #111;
}
.banner--warning a:hover {
  color: #111;
}
.banner__content {
  font-size: var(--font-size-xx-small);
  text-align: center;
  margin-inline: auto;
  width: min(100%, 24em);
}

/******* POPOVER  *******/

.variant-popover {
  position: relative !important;
}
.variant-popover button .arrow {
  display: none;
}
.variant-popover:has([popover]) button .arrow {
  display: inline-block;
}

.variant-popover [popover] {
  position: absolute;
  position-area: bottom;
  top: 0.5em;
  visibility: visible;
  background: var(--color-white);
  border-radius: 0.6em;
  box-shadow: 0 0 0 1px rgba(var(--rgb-black), 0.075),
              0 10px 30px -15px rgba(var(--rgb-black), 0.125),
              0 20px 20px -30px rgba(var(--rgb-black), 0.125);
  opacity: 0;
  transform: translateY(-1rem);
  transition-behavior: allow-discrete;
  transition: all var(--transition-slow);
  display: none;
  font-size: 1rem;
  min-width: 7rrem;
  max-height: 10rem;
}
@starting-style {
  .variant-popover [popover] {
    display: block;
    opacity: 0;
    transform: translateY(-1rem)
  }
}
.variant-popover [popover]:popover-open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.variant-popover [popover] > div {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  margin: 0.4em;
  overflow: auto;
  height: 100%;
}
.variant-popover [popover] > div > a {
  border-radius: 0.4rem;
  color: var(--color-grey);
  font-size: 1rem;
  letter-spacing: normal;
  font-weight: 600;
  display: flex;
  padding: 0.55em 0.8em 0.45em 0.8em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}
.variant-popover [popover] > div > a:not(.selected):hover {
  background: var(--color-base-dark);
}

.variant-popover [popover] > div > a.selected {
  background: var(--color-accent);
  color: var(--color-white);
}